/* app css stylesheet */

body {
  margin: 0;
}

.angular-leaflet-map {
/*    width: 100%;
*/    height: 500px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

.feed {
  list-style: none;
}

.feed li {
  clear: both;
 /* height: 100px;*/
  padding-top: 15px;
}

/** Detail View **/

img.phone {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}


/* Code below by Dave Cole from: https://gist.github.com/dhcole/5368613 */
body.menu #menu {
  opacity: 1;
  -webkit-transition: opacity 0 0;
  -moz-transition:    opacity 0 0;
  -ms-transition:     opacity 0 0;
  -o-transition:      opacity 0 0;
  transition:         opacity 0 0;
}

body.menu #main {
  -webkit-transform: translateX(66%);
  -moz-transform: translateX(66%);
  -ms-transform: translateX(66%);
  -o-transform: translateX(66%);
  transform: translateX(66%);
}

#wrapper {
  position: relative;
  overflow-x: hidden;
}

#menu {
  position:absolute;
  top: 0;
  left: 0;
  width: 66%;
  bottom: 0px;
  background: #369;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0 0.2s;
  -moz-transition: opacity 0 0.2s;
  -ms-transition: opacity 0 0.2s;
  -o-transition: opacity 0 0.2s;
  transition: opacity 0 0.2s;
}

#main {
  position: relative;
  min-height: 100%;
  background: #eee;
  box-shadow: -4px 0px 5px rgba(0,0,0,0.5);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

#content { 
/*  padding: 20px;*/ 
}

#bar {
  height: 54px;
  background: #333;
}

/* --- end code by Dave Cole */

/* App menu bar */

#show { 
  float: left;
  color: #000; 
  background: #9900ff;
  width: 51px;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

#selector {
  float: left;
  margin: 0 auto;
  width: 65%;
  height: 100%;
  border: 1px;
  background: #fff;
  padding-left: 20px;
  display: inline-block;
  cursor: pointer;
}

#search { 
  float: right;
  color: #000; 
  background: #9900ff;
  width: 51px;
  height: 100%;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
}

/* Nav bar */

#nav {
  width: 100%;
  height: 45px;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;  
}

#nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left; 
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}

#nav li:first-child a {
  border-left: 1px solid #ccc; 
}

#nav li a:hover {
  color: #c00;
  background-color: #fff; 
}


.menubutton {
  float:left; 
  width:33.3%;
}




/* Cards */

#cardpanel {

  background: grey;
  width: 100%;
  height: 68px;
  position: relative;
  margin-top: 26px;

}


/**
 * "Google Now" Card
 */
/*body {
  background: #e1e1e1;
  min-height: 100%;
  margin: auto;
}*/
ul.gNow {
  width: 450px;
  height: 100%;
  float: left;
  padding: 0;
}
ul.gNow li {
  width: 430px;
  float: left;
  list-style: none;
  padding: 10px;
}
div.card {
  background: #fff;
  width: 400px;
  position: relative;
  padding: 15px;
  box-shadow: 0px 3px rgba( 0, 0, 0, 0.1 );
  font-family: Open Sans;
  color: #444;
  font-size: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
  div.card p {
    margin: 0 0 15px 0;
  }
  div.card p.card-title {
    font-size: 28px;
  }
  div.card p.url {
    border-top: 1px solid #e5e5e5;
    background-image: url('http://www.eriklindemann.com/wp-content/uploads/2013/05/url.png');
    background-repeat: no-repeat;
    padding: 6px 0 0 30px;
    height: 30px;
    display: block;
    margin-bottom: -10px;
  }
  div.card p.url a {
    color: #04bff4;
    text-decoration: none;
    top: 4px;
    width: 385px;
    display: block;
    position: relative;
  }
  div.card img.full {
  width: 430px;
  margin: 0 0 15px -15px;
  }
