
#background-effects {
background: #1D445F;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;}
#background-effects .orb-layer {
    display: block; }
#background-effects .orb-layer {
position: absolute;
    top: 0;
    left: 0;
    width: 80%; /* width of the bubble zone to prevent overlap with other content */
    height: 100%;
    z-index: 1;
}

.orb {
  background: #78aec1;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  position: absolute;
  left: 50%; }

#orb-layer-1 {
	display:none;
/*  animation: panningbig 45s linear infinite;
  -webkit-animation: panningbig 45s linear infinite;
  -moz-animation: panningbig 45s linear infinite;
  -ms-animation: panningbig 45s linear infinite;
    animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; */
}

#orb-layer-2 {
  opacity: 0.9;
  animation: large 45s linear infinite;
  -webkit-animation: large 45s linear infinite;
  -moz-animation: large 45s linear infinite;
  -ms-animation: large 45s linear infinite;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; 
}

#orb-layer-3 {
  opacity: 0.7;
  animation: medium 45s linear infinite;
  -webkit-animation: medium 45s linear infinite;
  -moz-animation: medium 45s linear infinite;
  -ms-animation: medium 45s linear infinite;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; 
}

#orb-layer-4 {
  opacity: 0.5;
  animation: small 45s linear infinite;
  -webkit-animation: small 45s linear infinite;
  -moz-animation: small 45s linear infinite;
  -ms-animation: small 45s linear infinite;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; 
}

@keyframe panningbig {
from {margin-top:0%; margin-left:0%; opacity:0.7;}
to {margin-top:100%; margin-left:100%; opacity:0.2;}
}

@keyframe medium {
from {margin-top:0%; margin-left:0%; opacity:0.7;}
to {margin-top:100%; margin-left:100%; opacity:0.2;}
}
    
@-webkit-keyframes small {
  0% {-webkit-transform: translate3d(0px, 0px, 0px); }
  25% {-webkit-transform: translate3d(30px, -10px, 0px); }
  50% {-webkit-transform: translate3d(-60px, 0px, 0px); }
  75% {-webkit-transform: translate3d(-30px, 10px, 0px); }
  100% {-webkit-transform: translate3d(0px, 0px, 0px); } }

@-webkit-keyframes medium {
  0% {-webkit-transform: translate3d(0px, 0px, 0px);}
  25% {-webkit-transform: translate3d(50px, -50px, 0px);}
  50% {-webkit-transform: translate3d(100px, 0px, 0px);}
  75% {-webkit-transform: translate3d(50px, 50px, 0px);}
  100% {-webkit-transform: translate3d(0px, 0px, 0px);} }

@-webkit-keyframes large {
  0% {-webkit-transform: translate3d(0px, 0px, 0px);}
  25% {-webkit-transform: translate3d(-100px, -100px, 0px);}
  50% {-webkit-transform: translate3d(-200px, 0px, 0px);}
  75% {-webkit-transform: translate3d(-100px, 100px, 0px);}
  100% {-webkit-transform: translate3d(0px, 0px, 0px); }}

#orb-layer-2 .orb {
  width: 20px;
  height: 20px; 
  background: -webkit-radial-gradient(20px 20px, circle, #accdd9, #5599b1); }

#orb-4 {
  margin-left: 43%;
  top: 75%; }

#orb-5 {
  margin-left: -8%;
  top: 65%; }

#orb-6 {
  margin-left: 14%;
  top: 18%; }

#orb-7 {
  margin-left: -28%;
  top: 7%; }

#orb-8 {
  margin-left: 3%;
  top: 97%; }

#orb-9 {
  margin-left: 49%;
  top: 4%; }

#orb-10 {
  margin-left: -52%;
  top: 75%; }

#orb-11 {
  margin-left: 27%;
  top: 78%; }

#orb-12 {
  margin-left: -21%;
  top: 67%; }

#orb-layer-3 .orb {
  width: 10px;
  height: 10px; 
  background: -webkit-radial-gradient(6px 10px, circle, #accdd9, #5599b1); }

#orb-13 {
  margin-left: 48%;
  top: 57%; }

#orb-14 {
  margin-left: 42%;
  top: 22%; }

#orb-15 {
  margin-left: -4%;
  top: 85%; }

#orb-16 {
  margin-left: -45%;
  top: 19%; }

#orb-17 {
  margin-left: 5%;
  top: 8%; }

#orb-18 {
  margin-left: -37%;
  top: 88%; }

#orb-19 {
  margin-left: 6%;
  top: 73%; }

#orb-20 {
  margin-left: -14%;
  top: 50%; }

#orb-21 {
  margin-left: 4%;
  top: 76%; }

#orb-22 {
  margin-left: -14%;
  top: 89%; }

#orb-23 {
  margin-left: 28%;
  top: 87%; }

#orb-layer-4 .orb {
  width: 6px;
  height: 6px;}

#orb-24 {
  margin-left: -33%;
  top: 68%; }

#orb-25 {
  margin-left: -1%;
  top: 90%; }

#orb-26 {
  margin-left: 42%;
  top: 70%; }

#orb-27 {
  margin-left: 18%;
  top: 83%; }

#orb-28 {
  margin-left: 21%;
  top: 86%; }

#orb-29 {
  margin-left: -19%;
  top: 20%; }

#orb-30 {
  margin-left: 31%;
  top: 11%; }

#orb-31 {
  margin-left: 2%;
  top: 32%; }

#orb-32 {
  margin-left: 21%;
  top: 18%; }

#orb-33 {
  margin-left: 40%;
  top: 26%; }

#orb-34 {
  margin-left: 10%;
  top: 26%; }

#orb-35 {
  margin-left: -48%;
  top: 6%; }

#orb-36 {
  margin-left: -37%;
  top: 18%; }

#orb-37 {
  margin-left: -44%;
  top: 39%; }

#orb-38 {
  margin-left: -46%;
  top: 68%; }

#orb-39 {
  margin-left: -39%;
  top: 91%; }

#orb-40 {
  margin-left: 22%;
  top: 29%; }


#orb-layer-1 .orb {
  width: 100px;
  height: 100px; }

#orb-layer-2 .orb {
  width: 50px;
  height: 50px; }

#orb-layer-3 .orb {
  width: 20px;
  height: 20px; }

#orb-layer-4 .orb {
  width: 5px;
  height: 5px; }
