<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

  <img src="http://oti.newamerica.net/sites/newamerica.net/files/articles/harbortech_6.jpg" width=400px;></div></a>

<p>Why did we start this work? Our communities digital infrastucture, Hurricane Sandy, lack of access, communication and to provide resources such as housing, education, legal aid, employment and community events . . .  </P>
<img src="http://www.capitalnewyork.com/files/RHI.png" width=400px;></div></a>

<p>Providing free wireless internet connection for the cummunity as a community. Partbering with local business and organizations to help create our mesh network. A mesh network is wireless ntwork which works through nodes which are like little antennas that send out and recieve data. A mesh network is a good because its a decentralizied system so if one of the nodes are damaged the system will still be up and running.  . . . . </p>
<img src="http://www.booki.cc/wireless-networking-in-the-developing-world/case-study-open-technology-institute/static/CsOTI14.jpg" width=400px;>

</div></a>

<p>Find out more about who the digital stewards are <a href="http://rhidigitalstewards.wordpress.com/who-we-are/">here.</a></p>

    </div>
  </div>
</div>
