<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

<h3>Contact Us</h3>
  <p>Phone: Red Hook Initiative (718) 858-6782</p>
  <p>Email: <a href="mailto:redhookwifi@rhicenter.org">redhookwifi@rhicenter.org</a> 
  <!-- <p>Tumblr: <a href="http://rhidigitalstewards.tumblr.com">rhidigitalstewards.tumblr.com</a></p> -->
  <p>WordPress: <a href="http://rhidigitalstewards.wordpress.com">http://rhidigitalstewards.wordpress.com</a></p>
  <div style="height:800px;"></div>
    </div>
  </div>
</div>
