<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

<h3>Contact Us</h3>
  <p>Phone: 1(718)858-6782</p>
  <p>Email: <a href="mailto:Digitalstewards@rhicenter.org">DigitalStewards@rhicenter.org</a></p>
  <p>Tumblr: <a href="http://rhidigitalstewards.tumblr.com">rhidigitalstewards.tumblr.com</a></p>
  <p>WordPress: <a href="http://www.rhidigitalstewards.wordpress.com">rhidigitalstewards.wordpress.com</a></p>

    </div>
  </div>
</div>
