<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">


    <h3>Red Hook Info</h3>
 
    <p><a href="http://www.southbrooklyn.com/neighborhood/red-hook">South Brooklyn</a></p>
    <p><a href="http://www.nycgovparks.org/parkshttp://www.courtinnovation.org/project/red-hook-community-justice-center">Justice Center</a></p>
    <p><a href="http://redhookwaterfront.com/">Waterfront</a></p>
    <p><a href="http://archinect.com/eugmir/project/resilient-red-hook">Project Resilient</a></p>
    <p><a href="http://velazquez.house.gov/ny12/index.shtml">Nydia Velazquez</a></p>
    <p><a href="http://redhookstar.wordpress.com/page/2/">Red Hook Star</a></p>
    <p><a href="http://www.brooklynpaper.com/sections/news/development/red_hook_waterfront/">Brooklyn Paper</a></p>
    <p><a href="http://en.wikipedia.org/wiki/Red_Hook,_Brooklyn">Red Hook Wiki</a></p>
    <p><a href="http://redhookcrp.wordpress.com/">Red Hook CRP</a></p>
    <p><a href="http://www.nyc.gov/html/nycha/html/home/home.shtml">NYCHA</a></p>
    <p><a href="http://rebuildingtogethernyc.org/">Rebuilding Together</a></p>
    <p><a href="http://www.nyc.gov/html/sirr/downloads/pdf/final_report/Ch21_Appendix_Initiatives_FINAL_singles.pdf">Reports</a></p>
    <p><a href="https://sites.google.com/site/redhookfloodmitigation/resource-center">Red Hook Flood Mitigation</a></p>
    <p><a href="http://redhookfuture.wordpress.com/">Red Hook Future</a></p>



    </div>
  </div>
</div>
