<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

      <ul class="landmarks">
        <li class="thumbnail" style="padding-top:0px;">
         <h3> ∆ What's Happening?</h3>
          <button class="btn" ng-click="filter('jobs')">jobs </button> <button class="btn" ng-click="filter('event')">events</button> <button  class="btn" ng-click="filter('place')">places</button> <button class="btn" ng-click="filter('news')">news</button> <button class="btn" ng-click="filter('all')">all</button>


        </li>

      </ul>

          <form ng-submit="sessionSearch()">
            <input style="width:95%;" type="text" ng-model="searchText" size="30"
                   placeholder="Search events">
            <input class="btn-primary" type="submit" value="search">
          </form>

      <ul class="landmarks">
          <li ng-repeat="landmark in landmarks | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px;" >
              <a ng-href="#/landmark/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a>
              <h4><a ng-href="#/landmark/{{landmark.id}}">{{landmark.name}}</a></h4>
              <p>{{landmark.shortDescription}}</p>
              <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> | {{landmark.type}} </p>

              <button class="" ng-click="goTalk(landmark.tags[0])">#{{landmark.tags[0]}}</button> <button class="" ng-click="goMap('#/map/coordinates/{{landmark.loc[0]}}/{{landmark.loc[1]}}/{{landmark.name}}')"><i class="fui-location"></i>Map Location</button> 

              <div style="float:left; background:#fff; height:100%; width: 30px;">
          
          </li>
      </ul>
       <li ng-show="!landmarks.length"> No events coming up, create one?</li>

    </div>
  </div>
</div>
