<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

      <ul class="landmarks">
        <li class="thumbnail" style="padding-top:0px;">
         <h3> ∆ Sessions happening</h3>
          <button class="btn" ng-click="filter('now')">now </button> <button class="btn" ng-click="filter('soon')">soon</button> <button  class="btn" ng-click="filter('today')">today</button> <button class="btn" ng-click="filter('all')">all</button>

        </li>

      </ul>

          <form ng-submit="sessionSearch()">
            <input style="width:95%;" type="text" ng-model="searchText" size="30"
                   placeholder="Search Sessions">
            <input class="btn-primary" type="submit" value="search">
          </form>

      <ul class="landmarks">
          <li ng-repeat="landmark in landmarks | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px;" >
              <a ng-href="#/session/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a>
              <h4><a ng-href="#/session/{{landmark.id}}">{{landmark.name}}</a></h4>
              <p>{{landmark.shortDescription}}</p>
              <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> | {{landmark.category}}  |  {{landmark.subType}} </p>

              <button class="" ng-click="goTalk(landmark.tags[0])">#{{landmark.tags[0]}}</button> <button class="" ng-click="goMap(landmark.loc_nicknames_stripe[0])"><i class="fui-location"></i>{{landmark.loc_nicknames[0]}}</button> 

              <div style="float:left; background:#fff; height:100%; width: 30px;">
          

          </li>
      </ul>

       <li ng-show="!landmarks.length"> No sessions at this time @(ᵕ.ᵕ)@
       </li>

    </div>
  </div>
</div>
