<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">

      <ul class="landmarks">
        <li class="thumbnail" style="padding-top:0px;">


        <!-- REMOVING DEFAULT FOR TASTE OF RED HOOK EVENT 
         <h2> Welcome to Red Hook WiFi! </h2>
          <p> Red Hook WiFi (RH WiFi) is a community-led effort to close the digital divide, generate economic opportunity, facilitate access to essential services and improve quality of life in Red Hook, Brooklyn via the deployment of a wireless Internet network.</p>
        -->
          
        <h2> Welcome to  </h2>

        <p><img src="img/tidepools/tasteofredhook_banner.png">
          <br><br>
          Normally this network splash page lists events, services and local businesses in Red Hook, but this week we are highlighting our partners who have graciously donated their delicious food and drink.
         <br>
        All proceeds from tonights fundraiser benefits the work of RHI. This year's event is sponsored by Kamco, M&T Bank, Koya Leadership Partners, Williams Capital Group, and aptsandlofts.com.

        <br><br>
        Please watch this video the Digital Stewards made about our host, Pioneer Works.
      </p>

      <!-- REMOVED FOR TASTE OF RED HOOK -->
<!--           <h4>News</h4>
          <ul class="feed" style="background:#fff;">

            <li ng-repeat="tweet in tweets| filter:query | orderBy:orderProp" class="thumbnail" style="padding-bottom:10px;">
              <a ng-href="#/{{tweet.id}}" class="thumb"><img ng-src="{{tweet.user.profile_image_url}}"></a>
              <h4>{{tweet.user.name}}</h4>
              <p style="opacity:0.7;">@{{tweet.user.screen_name}}</a>
              <p ng-bind-html-unsafe="tweet.text | hashtag"></p>

             <a ng-href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.tweetID_str}}"><p style="font-size:12px;">{{tweet.created | date:'h:mm a EEEE d MMMM'}}</p></a>
                <div ng-switch on = "tweet.media.media_type">
                   <span ng-switch-when="image"> <img src="{{tweet.media.media_url}}" width="250px"> </span>
                   <span ng-switch-when="vine"> <p><iframe src="{{tweet.media.media_url}}/card" width="250px" height="250px" frameborder="0"></iframe></p> </span>
                   <span ng-switch-when="youtube"> <iframe width="250px" src="{{tweet.media.media_url}}" frameborder="0" allowFullScreen></iframe></span>
                   <span ng-switch-when="instagram"><img src="{{tweet.media.media_url}}media/?size=t" width="250px"> </span>
                   <span ng-switch-when="tumblr"><img src="{{tweet.media.media_url}}" width="250px"> </span>
                   <span ng-switch-default></span>
                 </div>
            </li>     

          </ul> 

          <br>
          <h4> What's Happening?</h4>
          <button ng-class="itemClass('all')" ng-click="filter('all','all'); showTime = false; showSearch = false; showPlaces = false; select('all')">All</button>

          <button ng-class="itemClass('events')" ng-click="filter('events','all'); showTime = ! showTime; showSearch = false; showPlaces = false; select('events')"><i class="fui-time"></i>Events</button> 

          <button ng-class="itemClass('places')" ng-click="filter('places','all'); showPlaces = ! showPlaces; showTime = false; showSearch = false; select('places')"><i class="fui-location"></i>Places</button> 

          <button ng-class="itemClass('search')" ng-click="showSearch = ! showSearch; showTime = false; showPlaces = false; select('search')"><i class="fui-search"></i></button>

          -->

          <!-- <button class="btn" ng-click="goNew()"><i class="fui-plus"></i>New</button> -->
        </li>

      </ul>

      <!--When Search button clicked show-->
<!--       <span ng-show="showSearch" >
        <form ng-submit="sessionSearch()">
          <input style="width:95%;" type="text" ng-model="searchText" size="30" placeholder="What to find?">
          <input class="btn-primary" type="submit" value="search">
        </form> 
      </span>  -->

       <!--When Event button clicked show-->
<!--        <span ng-show="showTime" >   
          <button class="btn" ng-click="filter('events','now')">now</button> 
          <button class="btn" ng-click="filter('events','soon')">soon</button> 
          <button class="btn" ng-click="filter('events','today')">today</button>  
      </span>  -->

      <!--When Places button clicked show-->
<!--        <span ng-show="showPlaces" >   
          <button class="btn" ng-click="filter('places','Organization')">Orgs</button> 
          <button class="btn" ng-click="filter('places','Shop')">Shops</button> 
          <button class="btn" ng-click="filter('places','Food/Drink')">Food/Drink</button> 
          <button class="btn" ng-click="filter('places','Park')">Parks</button>  
      </span> 
 -->

      <ul class="landmarks">
        <h4>Taste of Red Hook Participants</h4>
          <!--Looping through data-->
          <li ng-repeat="landmark in landmarks | filter:query | orderBy:orderProp" class="thumbnail"  style="padding-bottom:20px;" >  
              <a ng-href="#/landmark/{{landmark.id}}" class="thumb"><img ng-src="{{landmark.stats.avatar}}"></a> 
              <h4><a ng-href="#/landmark/{{landmark.id}}">{{landmark.name}}</a></h4>
              <p>{{landmark.shortDescription}}</p>
              <p style="font-size:12px;"><strong> {{landmark.time.start | date:'h:mm a EEEE d MMMM'}} </strong> </p>

              <!--Show hashtag button if there's a hashtag-->
              <span ng-show="landmark.tags">  
                <button class="" ng-click="goTalk(landmark.tags)">#{{landmark.tags}}</button> 
              </span>  

              <!--Show location name for button or default is its empty-->
              <button><a style="color:#34495e; text-decoration: none;" ng-href="#/map/coordinates/{{landmark.loc[0]}}/{{landmark.loc[1]}}/{{landmark.id}}"<i class="fui-location"></i>
              <span ng-hide="landmark.loc_nicknames">Map Location</span>{{landmark.loc_nicknames[0]}}</a></button>

          </li>
      </ul>

       <li ng-show="!landmarks.length"> Nothing here :( </li>

    </div>
  </div>
</div>
