<div class="container-fluid" style="padding-left:5px; padding-right:19px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

          <h3>Create new: </h3>
          <br>
          <span ng-show="!landmark.type" type="text" >

            <p>
                <a href="#/new/place"><div style="padding-right:10px;"><i style="font-size:25px;" class="fui-location"></i> Place</div></a>
                <a href="#/new/event"><div style="padding-right:10px;"><i style="font-size:25px;" class="fui-calendar-solid"></i> Event</div></a>
                <!-- <a href="#/new/job"><div style="padding-right:10px;"><i style="font-size:25px;" class="fui-user"></i> Job</div></a>
 -->
            </p>

          </span>

 



    </div>


  </div>
</div>









