<div style='padding-left:5px; padding-right:5px; width:99%;'>
  <span ng-hide="option == 'new' "><button class="btn" ng-click="goBack()">&lt; BACK </button></span>
  <span ng-show="option == 'new' "><button class="btn" ng-click="edit()"> EDIT <i class="fui-new"></i></button></span>

  <br>
  <br>
  <img ng-src="{{mainImageUrl}}" class="landmark" style="width:90px; height:90px;">
   <h3> <span ng-show="landmark.type == 'place'"><i style="font-size:25px;" class="fui-location"></i></span><span ng-show="landmark.type == 'event'"><i style="font-size:25px;" class="fui-calendar-solid"></i> </span><span ng-show="landmark.type == 'job'"><i style="font-size:25px;" class="fui-user"></i></span>{{landmark.name}}</h3>
  <span ng-show="landmark.tags"> <h4>#{{landmark.tags}} </h4></span>

  <!--Module loader for embedded Etherpad link-->
<a class="btn btn-large btn-block btn-info" ng-click="open()" href="http://102.214.146.50:9001/p/{{landmark.id}}">Event Notes<i class="fui-new"></i></a>

 <br>
  <p>{{landmark.subType}}</p> 

  <p>{{landmark.shortDescription}}</p>

  <p>{{landmark.description}}</p>

<ul class="specs">


  <h5><a ng-href="#/map/coordinates/{{landmark.loc[0]}}/{{landmark.loc[1]}}/{{landmark.name}}"><i class="fui-location"></i><span ng-hide="landmark.loc_nicknames">Map Location</button></span>{{landmark.loc_nicknames[0]}}</a></h5>

 <span ng-show="landmark.time.start">
  <li>
    <dl>
      <dt style="color:grey;">Starts </dt>
      <dt>{{landmark.time.start | date:'MMMM d EEEE h:mm a'}}</dt>
      <dt style="color:grey;">Ends: </dt>
      <dt>{{landmark.time.end | date:'MMMM d EEEE h:mm a'}}</dt>
    </dl>
  </li>
</span>

  <span ng-show="landmark.video">

    <iframe width="95%" height="300" src="//www.youtube.com/embed/{{landmark.video | youtubestrip}}" frameborder="0" allowfullscreen></iframe>

  </span>
  <br><br><hr>
  
</ul>

  <ul class="feed" style="padding-left:5px; padding-right:5px;">
        <li ng-repeat="tweet in tweets| filter:query | orderBy:orderProp" class="thumbnail" style="padding-bottom:10px;">
          <a ng-href="#/{{tweet.id}}" class="thumb"><img ng-src="{{tweet.user.profile_image_url}}"></a>
          <h4>{{tweet.user.name}}</h4>
          <p style="opacity:0.7;">@{{tweet.user.screen_name}}</a>
          <p ng-bind-html-unsafe="tweet.text | hashtag"></p>

         <a ng-href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.tweetID_str}}"><p style="font-size:12px;">{{tweet.created | date:'h:mm a EEEE d MMMM'}}</p></a>

            <div ng-switch on = "tweet.media.media_type">
               <span ng-switch-when="image"> <img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-when="vine"> <p><iframe src="{{tweet.media.media_url}}/card" width="250px" height="250px" frameborder="0"></iframe></p> </span>
               <span ng-switch-when="youtube"> <iframe width="250px" src="{{tweet.media.media_url}}" frameborder="0" allowFullScreen></iframe></span>
               <span ng-switch-when="instagram"><img src="{{tweet.media.media_url}}media/?size=t" width="250px"> </span>
               <span ng-switch-when="tumblr"><img src="{{tweet.media.media_url}}" width="250px"> </span>
               <span ng-switch-default></span>
             </div>
        </li>  

        <li ng-show="!tweets.length"> No tweets from #{{currentTag}} yet </li>

     </ul>

</div>

<!--Etherpad Module controls -->
<div modal="etherpad" style="width:100%; height:100%;" close="close()" options="opts">
    <div class="modal-header">
        <button class="btn-primary" ng-click="close()">Close X</button>  <h4>{{landmark.name}} Notes</h4>
    </div>
    <div class="modal-body">
          <iframe src="{{landmark.etherpad}}" width="100%" height="100%">
    </div>
</div>

