<div class="container-fluid" style="padding-left:5px; padding-right:5px;">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->

<table border="1px">
  <h3>Local Partners</h3>
  <p> These are our local businesses and organization partners who are hosting our routers and providing access to the community people each day: </p>

            <tbody>
                <tr>
                    <td><a href="http://rhicenter.org">Red Hook Initiative</a></td>
                    <td><a href="https://www.facebook.com/pages/Pal-Miccio-Day-Care-Center/134263513292300">P.A.L Miccio Recreation Center</a></td>    
                </tr>
                    
                <tr>
                    <td><a href="http://www.bkfiber.com/">Brooklyn Fiber</a></td>
                    <td><a href="https://www.facebook.com/VBVMChurch">Visitation Church</a></td>
                </tr>
                
                <tr>
                    <td><a href="http://companies.findthecompany.com/l/12219198/H-L-General-Contractors-Inc-in-Brooklyn-NY">Lopes General Contractors</a></td>
                    <td><a href="http://www.realtycollective.com/">Realty Collective</a></td>
                </tr>  

                 <tr>
                    <td><a href="http://redhookvolunteers.org/">Red Hook Volunteers</a></td>
                    <td>Rob Hansen</td>
                </tr>   

                 <tr>
                    <td><a href="http://bumblebeesrus.com/">Bumblebee Daycare</a></td>
                    <td><a href="http://redhookartproject.org/">Red Hook Art Project</a></td>
                </tr>   

            </tbody>
        </table>
        <br>
        <p>If you are interested in hosting a router, please write to us at <a href="mailto:redhookwifi@rhicenter.org">redhookwifi@rhicenter.org</a></p>

         <div style="height:800px;"></div>
    </div>
  </div>
</div>
