<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">
      <!--Body content-->


      <!-- <li class="dropdown">
        <a class="dropdown-toggle">
          Sessions Now
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a ng-href="#/session/{{phone.id}}">{{phone.name}}</a>
          </li>
          <li ng-show="!phones.length"> No sessions now (◕︵◕) </li>
        </ul>
      </li> -->


      <ul class="phones">
        <li class="thumbnail">
         <h2> ∆ ≈ Sessions happening ▓▒░░</h2>
          <button ng-click="filter('now')">now </button> <button ng-click="filter('soon')">soon</button> <button ng-click="filter('today')">today</button> <button ng-click="filter('all')">all</button>



        </li>


      </ul>

          <form ng-submit="sessionSearch()">
            <input style="width:95%;" type="text" ng-model="searchText" size="30"
                   placeholder="Search Sessions">
            <input class="btn-primary" type="submit" value="search">
          </form>
          
      <ul class="phones">
        <div id="fixed" when-scrolled="loadMore()">          
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
            <a ng-href="#/session/{{phone.id}}" class="thumb"><img ng-src="{{phone.stats.avatar}}"></a>
            <a ng-href="#/session/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.shortDescription}}</p>
            <p style="font-size:10px;">{{phone.category}}  |  {{phone.subType}} | {{phone.time.start | date:'h:mm a EEEE d MMMM'}}</p>
            <button ng-click="goTalk(phone.tags[0])">#{{phone.tags[0]}}</button> <button ng-click="goMap(phone.loc_nicknames_stripe[0])">{{phone.loc_nicknames[0]}}</button> 

          </li>
        </div>
      </ul>



       <li ng-show="!phones.length"> No sessions (◕︵◕) ------ CHOOSE ANOTHER TIME CLICK TO SEE ALL

        <br>

        <div style="height=1000px;" >



          <p>


            ~~~~~~~~~~~~~~
            <br> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>> <br> <br> <br>> <br> <br> <br>
            ~~~~~









</p>







        </div>
       </li>


    </div>
  </div>
</div>
